on post-fs-data
# ADDED BY ZTEMT ZhuBing
# add the sensor sysfs permission
    #hall_device
    chown system system /sys/class/hall_device/hall_device/enable
    chmod 0644 /sys/class/hall_device/hall_device/enable

    #proximity
    mkdir /persist/proxdata 0775 system system
    chown system system /persist/proxdata
    chmod 0775 /persist/proxdata
    chown system system /sys/class/proximity/proximity/enable
    chown system system /sys/class/proximity/proximity/prox_manual_calibrate_threshold
    chown system system /sys/class/proximity/proximity/prox_init
    chown system system /sys/class/proximity/proximity/prox_threshold_init
    chown system system /sys/class/proximity/proximity/prox_offset_init
    chown system system /sys/class/proximity/proximity/prox_thres
    chown system system /sys/class/proximity/proximity/chip_name
    chown system system /sys/class/proximity/proximity/prox_threshold_cal_start
    chown system system /sys/class/proximity/proximity/prox_offset_cal_start
    chown system system /sys/class/proximity/proximity/prox_offset_cal
    chown system system /sys/class/proximity/proximity/prox_data_safe_range_max
    chown system system /sys/class/proximity/proximity/prox_data_safe_range_min
    chown system system /sys/class/proximity/proximity/prox_calibrate
    chown system system /sys/class/proximity/proximity/prox_calibrate_start
    chown system system /sys/class/proximity/proximity/prox_calibrate_result
    chown system system /sys/class/proximity/proximity/prox_data_max
    chown system system /sys/class/proximity/proximity/prox_debug
    chown system system /sys/class/proximity/proximity/prox_thres_max
    chown system system /sys/class/proximity/proximity/prox_thres_min
    chown system system /sys/class/proximity/proximity/prox_threshold_high
    chown system system /sys/class/proximity/proximity/prox_threshold_low
    chown system system /sys/class/proximity/proximity/prox_thres_param_high
    chown system system /sys/class/proximity/proximity/prox_thres_param_low
    chown system system /sys/class/proximity/proximity/prox_pluse_length
    chown system system /sys/class/proximity/proximity/prox_thres_pulse_count
    chown system system /sys/class/proximity/proximity/prox_wakelock
    chown system system /sys/class/proximity/proximity/prox_phone_is_sleep
    chown system system /sys/class/proximity/proximity/prox_irq
    chown system system /sys/class/proximity/proximity/prox_offset_cal_verify
    chown system system /sys/class/proximity/proximity/prox_calibrate_verify

    chmod 0644 /sys/class/proximity/proximity/enable
    chmod 0644 /sys/class/proximity/proximity/prox_manual_calibrate_threshold
    chmod 0644 /sys/class/proximity/proximity/chip_name
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_cal_start
    chmod 0644 /sys/class/proximity/proximity/prox_offset_cal_start
    chmod 0644 /sys/class/proximity/proximity/prox_data_safe_range_max
    chmod 0644 /sys/class/proximity/proximity/prox_data_safe_range_min
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_start
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_result
    chmod 0644 /sys/class/proximity/proximity/prox_debug
    chmod 0644 /sys/class/proximity/proximity/prox_thres_max
    chmod 0644 /sys/class/proximity/proximity/prox_thres_min
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_high
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_low
    chmod 0644 /sys/class/proximity/proximity/prox_pluse_length
    chmod 0644 /sys/class/proximity/proximity/prox_thres_pulse_count
    chmod 0644 /sys/class/proximity/proximity/prox_irq
    chmod 0644 /sys/class/proximity/proximity/prox_offset_cal_verify
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_verify

    #light
    chown system system /sys/class/light/light/enable
    chown system system /sys/class/light/light/delay

    chmod 0644 system system /sys/class/light/light/enable
    chmod 0644 system system /sys/class/light/light/delay
# ADDED BY ZTEMT ZhuBing END
